.icon {
	height: 1.5em;
	opacity: 0.5;
	width: 1.5em;
    filter: brightness(0) saturate(100%);
}

.icon-column {
	width: 9%;
}

#contact {
	padding : 5%;
}


@media only screen and (max-width: 850px) {
    .icon {
        filter: none;   
    }
    
    
}

