#content {
	max-height: 100%;
	overflow: auto;
}

#content > span {
	color: black;
	text-decoration-style: solid;   
}	

/* Media Queries */

@media screen and (max-width: 600px) {
	#image {
		display: none;
	}
	#board-wrapper {
		grid-row: 1/4;
	}
	#content {
		grid-row: 3;
	}
}
